* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    transition: font-weight .3s, color .3s;
}
a:hover {
    font-weight: bold;
    color: aqua;
}
ul {
    list-style: none;
}
body {
    background-color: #000;
    color: #fff;
}
.nav-link {
    color: #000;
}
.header {
    position: sticky;
    top: 0;
    background-color: #000;
    color: #fff;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content {
    display: flex;
    width: 45%;
    justify-content: space-between;
}
.nav {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    font-size: 18px;
}
.section {
    height: 100vh;
}
.main {
    height: 100vh;
}
.section-title {
    width: 80%;
    margin: 0 auto;
}
.section-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.round-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 5%;
}
.section-text {
    margin-left: 50px;
}
.contact-list {
    display: flex;
}
.fab, .fas {
    margin: 10px;
    font-size: 20px;
    color: aqua;
}
.white {
    background-color: #fff;
    color: #000;
}
.white-font {
    color: #fff;
}
.featured {
    font-size: 20px;
    font-weight: bold;
}